#acf-group_64ea462442133 .inside.acf-fields {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: min-content min-content min-content; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header-type header-type"
    "headline image"
    "subheadline image"; 
}
#acf-group_64ea462442133 .acf-fields > div[data-name="layout"] { grid-area: layout-type; }
#acf-group_64ea462442133 .acf-fields > div[data-name="headline"] { grid-area: headline; }
#acf-group_64ea462442133 .acf-fields > div[data-name="subheadline"] { grid-area: subheadline; }
#acf-group_64ea462442133 .acf-fields > div[data-name="image"] { grid-area: image; }